/*
//  hud.css
//
//  Created by Robbie Uvanni on 2017-07-17
//  Copyright 2017 High Fidelity, Inc.
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

.createTrigger {
  margin-top: 10px;
}

hr {
  position: inherit;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}